/* app/style.css
   Master stylesheet that composes modular CSS parts.
   IMPORTANT: @import rules must be at the top of the file.
*/

@import url("css/fonts.css");
@import url("css/base.css");
@import url("css/layout.css");
@import url("css/components.css");
@import url("css/history.css");
@import url("css/404.css");
@import url("css/error.css");
@import url("css/login.css");
@import url("css/no_photo.css");
@import url("css/pickup.css");
@import url("css/success.css");
@import url("css/tasks.css");
@import url("css/home.css");
@import url("css/settings.css");